/* ********************CSS Reset*************************** */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Turret Road', cursive;
	font-weight: 900;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	width: 100%;
	height: auto;
}

/****************** Start *************/
body {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	padding-bottom:56 px;
}
.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0;
	margin-bottom: 56px;

}
.placer {
	width: 1000px;
}
header, footer{
	background: rgb(206,196,221);
	background: linear-gradient(0deg, rgba(206,196,221,1) 0%, rgba(254,254,254,1) 82%);
	width: 100%;
	height: 40px;
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer{
	position: absolute;
	bottom: 0;
}

header div, footer div {
	padding: 5px;
}
footer .placer a {
	display: flex;
	justify-content: flex-end;
}

.main {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
.hiblock {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-self: center;
	justify-self: flex-end;
	margin: 100px 2px 2px 2px;
	padding: 20px 0 20px 0;
	text-align: center;
}
.welcome {
	width: 820px ;
	align-self: center;
	color:black;
	font-size: 1.5em;
	font-weight: 900;
	margin-top: 100px;
}
ul li {
	display: inline;
	color: inherit;
}
ul li a:hover, ul li:hover {
	text-decoration: underline;
}

.alphabet {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

}
.hijo {
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 200px;
	background: rgb(0, 98, 190);
	margin: 4px;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
}
img {
	height: 175px;
	width: 175px;
	border-radius: 100px;
	display: flex;
	align-self: center;
}
.greek {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.Photo {
	height: 220px;
	align-self: center;
	margin: 4px 0px 4px 0px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.Me{
	height: 200px;
	width: 200px;
	background: rgb(47, 255, 210);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
}
a {
	text-decoration: none;
	color: inherit;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
/*shadow sections below*/
header, .hijo, .Me, .alpha, .beta, footer {
	box-shadow: 5px 5px 5px rgb(128, 128, 128);
}
#stickyNotes {
	width: 100%;
}
#gitIcon {
	size: 1em;
}

@media only screen and (max-width: 768px) {

	.alphabet {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#stickyNotes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	/* ***************************** */
	.hijo {
		display: flex;
		flex-direction: column;
		height: 400px;
		width: 400px;
		background: rgb(0, 98, 190);
		margin: 4px;
		justify-content: center;
		align-items: center;
		border-radius: 200px;
	}
	img {
		height: 350px;
		width: 350px;
		border-radius: 200px;
		display: flex;
		align-self: center;
	}
	.greek {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	
	.Photo {
		height: 805px;
		align-self: center;
		margin: 4px 0px 4px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	
	.Me{
		height: 400px;
		width: 400px;
		background: rgb(47, 255, 210);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 200px;
	}
	.welcome {
		width: 100%;
	}
  }
@media only screen and (min-width: 1000px) {
	.wrapper {
		width: 1000px;
  }
}