/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Turret Road', cursive;
	font-weight: 900;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url(https://res.cloudinary.com/www-virgin-com/w_auto,c_scale,dpr_auto,f_auto,fl_lossy,q_auto/virgin-com-prod/profiles/site_installer/themes/custom/virgin/images/bg-main.png?1568875393);
}
.wrapper {
	width:	1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0;
}
header {
	background: #fff;
	align-self: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 980px;
	height: 40px;
	margin: 4px 0 10px 0;
	padding: 4px;
}
footer:hover, header:hover {
	background: #3b3b3b;
	color: #fff;
}
footer{
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 98%;
	height: 40px;
	margin: 4px 0 4px 0;
	padding: 4px;
}
.main {
	background: url(../images/ladybug.png);
	display: flex;
	flex-direction: column;
	width: 1000px;
	background-position: center center;
	background-repeat: no-repeat;
	width: 250px;
}
.hiblock {
	display: flex;
	flex-direction: column;
	width: 200px;
	align-self: center;
	justify-self: flex-end;
	margin: 200px 2px 2px 2px;
	padding: 20px 0 20px 0;
	text-align: center;
}
.welcome {
	width: 820px ;
	align-self: center;
	color:black;
	font-size: 1.5em;
	font-weight: 900;
	margin-top: 200px;
}
ul li {
	display: inline;
	color: inherit;
}
img {
	width: 100%;
}
.alphabet {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.hijoA, .hijoB, .hijoC, .alpha, .beta{
	height: 200px;
	width: 200px;
	background: yellow;
	margin: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.greek {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.Photo {
	height: 220px;

	align-self: center;
	margin: 4px 0px 4px 0px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.Me1, .Me2, .Me3{
	height: 200px;
	width: 200px;
	background: greenyellow;
	display: flex;
	align-items: center;
	justify-content: center;
}
a {
	text-decoration: none;
	color: inherit;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
/*shadow sections below*/
header, .hijoA, .hijoB, .hijoC, .Me1, .Me2, .Me3, .alpha, .beta, footer {
	box-shadow: 5px 5px 5px gray;
}
.welcome {
	text-shadow: 5px 5px 5px gray;
}